<footer class="footer">
    <div class="container">
        <span class="text-muted"><a href="/about">About</a> |
            &copy; 2022 <a href="mailto:email@marcocetica.com">Marco Cetica</a></span>
    </div>
</footer>