<footer class="footer">
    <div class="container">
        <span class="text-muted">Calcolatore Codice Fiscale | 
            <a href="/about">riguardo questo sito</a> |
            &copy; 2022 <a href="mailto:email@marcocetica.com">Marco Cetica</a></span>
    </div>
</footer>