<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
    <body class="text-justify">
        <main role="main" class="cfForm w-100 m-auto">
            <form method="POST" action="/">
                <h1 id="cfTitle" class="mt-5 text-center">Calcolo Codice Fiscale</h1>
                    <% if(errorMessages) {%>
                        <div style="text-align: left;">
                            <% errorMessages.forEach((error) => { %>
                                <p class="lead"><b>Errore</b>: <%= error.msg %></p>
                            <% }) %>
                        </div>
                    <% } %>
                <div class="row g-3">
                    <div class="col form-floating">
                        <input type="text" name="surname" class="form-control" id="surnameInput" placeholder="Inserisci il tuo cognome" required>
                        <label for="surnameInput" class="text-center">Cognome</label>
                    </div>
                    <div class="col form-floating">
                        <input type="text" name="name" class="form-control" id="nameInput" placeholder="Inserisci il tuo nome" required>
                        <label for="nameInput" class="text-center">Nome</label>
                    </div>
                    <div class="smlDiv col form-floating">
                        <select name="sex" class="form-select" id="sexSelect" aria-label="Sesso" required>
                        <option selected value="male">M</option>
                        <option value="female">F</option>
                        </select>
                        <label for="sexSelect">Sesso</label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col form-floating">
                        <input type="text" name="birthPlace" class="form-control" id="cityInput" placeholder="Inserisci il tuo luogo di nascita" required>
                        <label for="cityInput" class="text-center">Luogo di nascita</label>
                    </div>
                    <div class="smlDiv col form-floating">
                        <input style="text-transform: uppercase;" type="text" name="pr" class="form-control" id="prInput" placeholder="Inserisci il tuo luogo di nascita">
                        <label for="prInput" class="text-center">Provincia</label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col form-floating">
                        <select name="birthDay" class="form-select" id="daySelect" aria-label="Giorno di nascita" required>
                            <option selected>1</option>
                        </select>
                        <label for="dayInput" class="text-center">Giorno di nascita</label>
                    </div>

                    <div class="col form-floating">
                        <select name="birthMonth" class="form-select" id="monthSelect" aria-label="Mese di nascita" required>
                            <option value="1" label="Gennaio" selected>Gennaio</option>
                        </select>
                        <label for="dayInput" class="text-center">Mese di nascita</label>
                    </div>

                    <div class="smlDiv col form-floating">
                        <select name="birthYear" class="form-select" id="yearSelect" aria-label="Anno di nascita" required>
                            <option selected>1900</option>
                        </select>
                        <label for="dayInput" class="text-center">Anno</label>
                    </div>
                </div>
                <button class="w-100 btn btn-lg btn-dark" type="submit">Calcola</button>
            </form>
        </main>

        <%- include('../partials/footer') %>
        <script src="/js/initDate.js"></script>
    </body>
</html>
