<%- include('../partials/header') %>
<body class="text-center">
    <main role="main" class="cfForm w-100 m-auto">
        <form method="POST" action="/">
            <h1 id="cfTitle" class="mt-5">Calcolo Codice Fiscale</h1>
                <% if(errorMessages) {%>
                    <div style="text-align: left;">
                        <% errorMessages.forEach((error) => { %>
                            <p class="lead">Errore: <%= error.msg %></p>
                        <% }) %>
                    </div>
                <% } %>

                <% if(codFiscale) {%>
                    <h1 class="mt-4"><code> <%= codFiscale %> </code></h1>
                <% } %>
            <div class="row g-3">
                <div class="col form-floating">
                    <input type="text" name="surname" class="form-control" id="surnameInput" placeholder="Inserisci il tuo cognome" required>
                    <label for="surnameInput">Cognome</label>
                </div>
                <div class="col form-floating">
                    <input type="text" name="name" class="form-control" id="nameInput" placeholder="Inserisci il tuo nome" required>
                    <label for="nameInput">Nome</label>
                </div>
                <div class="smlDiv col form-floating">
                    <select name="sex" class="form-select" id="sexSelect" aria-label="Sesso" required>
                      <option selected value="male">M</option>
                      <option value="female">F</option>
                    </select>
                    <label for="sexSelect">Sesso</label>
                </div>
            </div>
            <div class="row g-3">
                <div class="col form-floating">
                    <input type="text" name="birthPlace" class="form-control" id="cityInput" placeholder="Inserisci il tuo luogo di nascita" required>
                    <label for="cityInput">Luogo di nascita</label>                 
                </div>
                <div class="smlDiv col form-floating">
                    <input style="text-transform: uppercase;" type="text" name="pr" class="form-control" id="prInput" placeholder="Inserisci il tuo luogo di nascita">
                    <label for="prInput">Provincia</label>                 
                </div>
            </div>
            <div class="row g-3">
                <div class="col form-floating">
                    <select name="birthDay" class="form-select" id="daySelect" aria-label="Giorno di nascita" required>
                        <option selected>1</option>
                    </select>
                    <label for="dayInput">Giorno di nascita</label>
                </div>

                <div class="col form-floating">
                    <select name="birthMonth" class="form-select" id="monthSelect" aria-label="Mese di nascita" required>
                        <option selected>1</option>
                    </select>
                    <label for="dayInput">Mese di nascita</label>
                </div>

                <div class="smlDiv col form-floating">
                    <select name="birthYear" class="form-select" id="yearSelect" aria-label="Anno di nascita" required>
                        <option selected>1900</option>
                    </select>
                    <label for="dayInput">Anno</label>
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Calcola</button>
        </form>
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Calcolatore codice fiscale | &copy; 2022 Marco Cetica</span>
        </div>
    </footer>
    <script src="/initDate.js"></script>
</body>